* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
a:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* START START START */

.conteiner {
  width: 1296px;
  margin: 0 auto;
}
* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  width: 1368px;
  height: 6592px;
  margin: 0 auto;
}

/* header header header */

.header {
  display: flex;
  width: 1296px;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 32.5px 0;
}
.header-left-wrapper {
  display: flex;
  align-items: center;
  gap: 44px;
}
.header-left-logo {
  display: flex;
  align-items: center;
}
.header-left-title {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.64px;
}
.header-left-explore {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #0f8277;
}
.header-left-btn {
  color: #eee;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
.header-left-img {
  width: 8px;
  height: 14px;
}

/* menu menu menu */

.header-icon {
  position: relative;
  display: inline-block;
}
.header-icon .header-left-img {
  width: 8px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-icon .header-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #000;
}
.header-icon:hover .header-menu {
  display: block;
}
.header-menu {
  display: flex;
  width: 384px;
  padding: 16px 12px 33px 12px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}
.header-menu-wrapper {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.header-menu-header,
.header-menu-header ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.header-menu-header li {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  align-self: stretch;
}
.header-menu-ractagle {
  height: 1px;
  align-self: stretch;
  border-radius: 100px;
  background: #000;
}
.header-menu-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.header-menu-main p {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  align-self: stretch;
}
.header-menu-main-wrapper,
.header-menu-main-wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.header-menu-main-wrapper li {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.header-menu-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.header-menu-footer p {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  align-self: stretch;
}
.header-menu-footer-wrapper,
.header-menu-footer-wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.header-menu-footer-wrapper li {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

/* menu menu menu */

.header-left-search {
  display: flex;
  width: 330px;
  padding-left: 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #5c5c5c;
}
.header-left-search-text {
  color: #5c5c5c;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  width: 300px;
}
.header-left-search-frame {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #5c5c5c; */
  border-left: 1px solid #5c5c5c;
  background: #0f8277;
}
.header-left-search-frame-img {
  width: 16.007px;
  height: 16.007px;
}
.header-right-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 104px;
}
.header-right-nav-menu {
  display: flex;
  align-items: center;
  gap: 48px;
}
.header-right-nav-menu p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.header-right-button-menu {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.header-right-button-login {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
}
.header-right-button-login p {
  color: #0f8277;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
.header-right-button-sign-up {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #0f8277;
}
.header-right-button-sign-up p {
  color: #eee;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}

/* main main main */

/* comfortably comfortably comfortably */

.comfortably {
  width: 1296px;
  height: 602px;
  flex-shrink: 0;
  border-radius: 12px;
  background: url(../img/learn-comfortably.png) no-repeat right 39px bottom 39px
    #dbf3ed;
  margin-bottom: 80px;
}
.comfortably-text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 170px 674px 184px 110px;
}
.comfortably-text-title {
  color: #000;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
}
.comfortably-text-text {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  width: 482px;
}
.comfortably-bottun-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-items: center;
}
.comfortably-bottun-start-learning {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #0f8277;
  border: 2px solid #0f8277;
}
.comfortably-bottun-start-learning p {
  color: #eee;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
.comfortably-bottun-learn-more {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 2px solid #0f8277;
}
.comfortably-bottun-learn-more p {
  color: #0f8277;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}

/* program program program */

.program-section {
  display: inline-flex;
  /* padding: 0px 36px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 80px;
}
.program-header-standart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.program-header-standart p:nth-child(1) {
  color: #0f8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}
.program-header-standart p:nth-child(2) {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.program-header-standart p:nth-child(3) {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}
.program-academic-treining {
  display: flex;
  height: 480px;
  align-items: flex-start;
  gap: 24px;
}
.program-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #dadada;
  /* overflow: hidden; */
}
.program-card-photo {
  width: 416px;
  height: 270px;
  flex-shrink: 0;
  background: #d9d9d9;
  background: url(../img/program\ 1\ image\ 8.svg);
}
.program-card:nth-child(2) .program-card-photo {
  background: url(../img/program\ 2\ image\ 9.png);
}
.program-card:nth-child(3) .program-card-photo {
  background: url(../img/program\ 3\ image\ 10.png);
}
.program-card-content {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.program-card-content-wraper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.program-card-content-wraper-education {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.program-card-content-wraper-education-text {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.program-card-content-wraper-title {
  align-self: stretch;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}
.program-card-get-a-diploma {
  display: flex;
  align-items: center;
  gap: 12px;
}
.program-card-get-a-diploma p {
  color: #0f8277;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.program-card-get-a-diploma-text {
  color: #0f8277;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

/*courses courses courses  */

.courses {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 83px;
}
.courses-header-standart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.courses-header-standart p:nth-child(1) {
  color: #0f8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}
.courses-header-standart p:nth-child(2) {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.courses-header-standart p:nth-child(3) {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}
.courses-popular-courses {
  display: flex;
  height: 480px;
  align-items: flex-start;
  gap: 24px;
}
.courses-card {
  display: flex;
  width: 306px;
  height: 480px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #dadada;
  overflow: hidden;
}
.courses-card-photo {
  width: 306px;
  height: 270px;
  flex-shrink: 0;
  background: #d9d9d9;
  background: url(../img/courses\ 1\ image\ 11.png);
}
.courses-card:nth-child(2) .courses-card-photo {
  background: url(../img/courses\ 2\ image\ 12.png);
  background-size: contain;
}
.courses-card:nth-child(3) .courses-card-photo {
  background: url(../img/courses\ 3\ image\ 13.png);
  background-size: contain;
}
.courses-card:nth-child(4) .courses-card-photo {
  background: url(../img/courses\ 4\ image\ 14.png);
  background-size: contain;
}
.courses-card-content {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.courses-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.courses-card-education-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.courses-card-text {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  flex: 1 0 0;
}
.courses-card-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}
.courses-card-get-a-diploma {
  display: flex;
  align-items: center;
  gap: 12px;
}
.courses-card-get-a-diploma p {
  color: #0f8277;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.courses-more-courses {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.courses-more-courses-btn {
  color: #0f8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

/* category category category */

.category {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 83px;
}
.category-title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.category-content {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.category-category-text {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}
.category-category {
  display: flex;
  width: 306px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.category-subcategory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.category-subcategory-title {
  color: #0f8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  align-self: stretch;
}
.category-subcategory-text {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  align-self: stretch;
}
.category-more-courses {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.category-more-courses-btn {
  color: #0f8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

/* partners partners partners */

.partners {
  display: inline-flex;
  padding: 80px 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dbf3ed;
  margin-bottom: 83px;
}
.partners-wrapper {
  display: flex;
  width: 1296px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.partners-title {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.partners-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

/* bussiness bussiness bussiness */

.bussiness {
  display: inline-flex;
  align-items: center;
  gap: 72px;
  padding-bottom: 70px;
}
.bussiness-content {
  display: flex;
  width: 636px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.bussiness-content-title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  align-self: stretch;
}
.bussiness-content-text {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  width: 568px;
}
.bussiness-content-btn {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #0f8277;
}
.bussiness-content-btn p {
  color: #eee;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
.bussiness-block {
  display: flex;
  align-items: flex-start;
}
.bussiness-block-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.bussiness-block-column-start div:nth-child(1) {
  display: flex;
  width: 196px;
  height: 136px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-right: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
}
.bussiness-block-column-start div:nth-child(2) {
  display: flex;
  width: 196px;
  height: 136px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-right: 1px solid #bababa;
}
.bussiness-block-column-start div:nth-child(3) {
  display: flex;
  width: 196px;
  height: 136px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #bababa;
  border-right: 1px solid #bababa;
}
.bussiness-block-column-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.bussiness-block-column-center div:nth-child(1) {
  display: flex;
  width: 196px;
  height: 136px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #bababa;
}
.bussiness-block-column-center div:nth-child(2) {
  display: flex;
  width: 196px;
  height: 136px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0px solid #bababa;
}
.bussiness-block-column-center div:nth-child(3) {
  display: flex;
  width: 196px;
  height: 136px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #bababa;
}
.bussiness-block-column-end {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.bussiness-block-column-end div:nth-child(1) {
  display: flex;
  width: 196px;
  height: 136px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #bababa;
  border-left: 1px solid #bababa;
}
.bussiness-block-column-end div:nth-child(2) {
  display: flex;
  width: 196px;
  height: 136px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-left: 1px solid #bababa;
}
.bussiness-block-column-end div:nth-child(3) {
  display: flex;
  width: 196px;
  height: 136px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #bababa;
  border-left: 1px solid #bababa;
}

/* price price price */

.price {
  display: inline-flex;
  padding: 80px 36px 100px 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dbf3ed;
  margin-bottom: 80px;
  margin: 0 auto;
  width: 100%;
}
.price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.price-title {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.price-all {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.price-all-plan {
  display: flex;
  width: 416px;
  padding: 56px;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  align-self: stretch;

  border-radius: 24px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
}
.price-all-plan:nth-child(2) {
  background: #0f8277;
}
.price-all-plan:nth-child(2) p {
  color: #fff;
}
.price-all-plan-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.price-all-plan-content-text-wrapper {
  width: 304px;
  height: 286px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.price-all-plan-content-text-wrapper-wrapper {
  display: flex;
  gap: 27px;
  flex-direction: column;
}
.price-all-plan-content-title {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  width: 304px;
}
.price-all-plan-content-text {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  width: 304px;
}
.price-all-plan-content-wrapper {
  display: flex;
  width: 304px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.price-all-plan-content-price {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.price-all-plan-content-price-price {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}
.price-all-plan-content-btn {
  display: inline-flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #0f8277;
}
.price-all-plan-content-btn:nth-child(2) {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 2px solid #fff;
  background: #0f8277;
}
.price-all-plan-content-btn-btn {
  color: #f6fdff;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}
.price-all-plan-content-rectangle {
  height: 2px;
  align-self: stretch;
  border-radius: 80px;
  background: #0f8277;
}
.price-all-plan:nth-child(2) .price-all-plan-content-rectangle {
  background: #fff;
}
.price-all-plan-content-list {
  display: flex;
  width: 304px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.price-all-plan-content-list-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.price-all-plan-content-list-item-bullit {
  display: flex;
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 500px;
  background: #0f8277;
}
.price-all-plan:nth-child(2) .price-all-plan-content-list-item-bullit {
  background: #fff;
}
.price-all-plan-content-list-item-bullit img {
  width: 8px;
  height: 5px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #f6fdff;
}
.price-all-plan-content-list-item p {
  width: 264px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

/* student student student */

.student {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 76.5px;
}
.student-title {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.student-wrapper {
  display: inline-grid;
  width: 1296px;
  height: 678.5px;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}
.student-wrapper img:nth-child(2) {
  width: 636px;
  height: 437px;
  grid-column: span 2;
  grid-row: span 2;
}
.student-wrapper img:nth-child(1) {
  width: 306px;
  height: 210.5px;
}
.student-wrapper img:nth-child(3) {
  width: 306px;
  height: 210.5px;
}
.student-wrapper img:nth-child(4) {
  width: 306px;
  height: 210.5px;
}
.student-wrapper img:nth-child(5) {
  width: 306px;
  height: 210.5px;
}
.student-wrapper img:nth-child(6) {
  width: 306px;
  height: 210.5px;
}
.student-wrapper img:nth-child(7) {
  width: 306px;
  height: 210.5px;
}
.student-wrapper img:nth-child(8) {
  width: 306px;
  height: 210.5px;
}
.student-wrapper img:nth-child(9) {
  width: 306px;
  height: 210.5px;
}

/* form form form */

.form {
  height: 726px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url(../img/form\ image\ 32.png);
  background-color: rgba(0, 0, 0, 0.60);
}
/* .form-img {
  width: 1368px;
  height: 725px;
  flex-shrink: 0;
  background-image: url(../img/form\ image\ 32.png);
}
.form-shadow {
  width: 1368px;
  height: 727px;
  flex-shrink: 0;
} */
.form-content {
  display: flex;
  width: 565px;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 24px;
  background: #dbf3ed;
}
.form-content-title {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  align-self: stretch;
}
.form-content-text {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  width: 505px;
}
.intut-text-btn {
  display: flex;
  width: 505px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  resize: none;
}
.intut-name-text,
.intut-email-text,
.intut-text-text {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
}
.intut-name-text-wrapper {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.intut-name-btn {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
}
.intut-email-text-wrapper {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.intut-text-btn {
  display: flex;
  height: 104px;
  padding: 12px;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
}
.intut-email-btn {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
}
.intut-email-text-wrapper {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.intut-name,
.intut-email,
.intut-text {
  display: flex;
  width: 505px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.intut-btn {
  display: flex;
  width: 196px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 4px;
  background: #0f8277;
}
.intut-btn-btn {
  color: #f6fdff;
  text-align: center;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}

/* footer footer footer */

.footer {
  display: inline-flex;
  padding: 64px 36px;
  align-items: flex-start;
  gap: 613px;;
  background: #f1f1f1;
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer-logo-wrapper {
  display: flex;
  align-items: center;
}
.footer-title {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.64px;
}
.footer-text {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  width: 306px;
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 60px;
  align-self: stretch;
}
.footer-right-social-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.footer-data {
  color: #000;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  width: 306px;
}
